@font-face{
	font-family:'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: medium;
  	font-style: normal;
}
body {
  font-family: "Montserrat-Regular";
  font-size: 14px;
}
.bg-gradient-primary {
  background-color: #f38508;
  background-image: linear-gradient(180deg,#f38508 10%,#dd8016 100%);
}
.btn-primary {
  color: #fff;
  background-color: #f38508;
  border-color: #f38508;;
}
#customer-dashboard .card-body{
  padding: 10px;
}
#customer-dashboard .card-title{
  margin-bottom: 4px;
}
.error-msg{
  display: none;
  padding: 1px;
  font-size: 13px;
  text-align: center;
  margin: 2px 0px;
}
.success-msg{
  display: none;
  padding: 1px;
  font-size: 13px;
  text-align: center;
  margin: 2px 2px;
}

.text-right-custom{
  position: absolute;
  right:2px;
}