{% extends 'restaurant/restaurant-base.html' %}{% load static %}
{% block title %}Order List{% endblock %}
{% block header %} Order List {% endblock %}
{% block content %}
<div class="row">
  <div class="card shadow mb-4" style="width: 100%;">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>OrderID</th>
            <th>Date</th>
            <th>Customer Name</th>
            <th>Location</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td><a  href="{% url 'restaurant-order-detail' order.id %}" >#{{order.id}}</a></td>
            <td>{Date}}</td>
            <td>{Customer name}</td>
            <td>{Location}</td>
            <td>${{order.price}}</td>
            <td>{status}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>






{% endblock %}
{% block js_files %}
<script src= "{% static 'assets/js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src= "{% static 'assets/js/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script>

  $(document).ready(function() {

      $('#dataTable').DataTable({
        responsive: true,
      });
  });

</script>

{% endblock %}