{% extends 'restaurant/restaurant-base.html' %}{% load static %}
{% block title %}Add New Food{% endblock %}
{% block content %}
<div class="container">
    <h2>Add New Food</h2>
    <form id="food-{{action}}-form">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Food Name" name="name" value={{food.name}}>
        {% if action == "edit" %}
        <input type="hidden" name="id" value={{food.id}}>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" placeholder="Enter Food Description" name="description" value={{food.description}}>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" class="form-control" id="price" placeholder="Enter Food price" name="price" value={{food.price}}>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

{% endblock %}
{% block js_files %}
<script src= "{% static 'assets/js/restaurant/food.js' %}"></script>
{% endblock %}