{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block css_files %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
         Settings
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Profile{{request.user}}</a>
          <a class="dropdown-item" href="{% url 'user-orders' %}">My Orders</a>
          <a class="dropdown-item" href="{% url 'logout-page' %}">Logout</a>
        </div>
      </li>
      <li>
        <img src="{% static 'assets/img/user/img_avatar.png' %}" alt="Avatar" class="avatar">
      </li>
    </ul>
  </nav>
<div class="container">
    {% block content %}

    {% endblock %}         
</div>
<script src= "{% static 'assets/js/jquery.min.js' %}"></script>
<script src= "{% static 'assets/js/popper.min.js' %}"></script>
<script src= "{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src= "{% static 'assets/js/ajax-setup.js' %}"></script>
{% block js_files %}{% endblock %}
</body>
</html>