{% extends 'base.html' %}{% load static %}
{% block title %}Restaurants{% endblock %}
{% block content %}
<div class="row">
    {% for restaurant in restaurants %}
    
        <div class="col-md-3">
            <a href="{% url 'view-restaurant-menu' restaurant.id %}">

            <div class="card" >
                <img class="card-img-top" src="{% static 'assets/img/restaurant/avatar-5.jpg' %}" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">{{restaurant.name}}</h4>
                  <p class="card-text">{{restaurant.description}}</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
    </a>
</div>

{% endfor %}

</div>

<div>
  {{request.user}}
</div>

{% endblock %}
{% block js_files %}

{% endblock %}