{% extends 'login-base.html' %}{% load static %}
{% block title %}User Registration Page{% endblock %}
{% block content %}
<div class="register-block">
<form id="user-login">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
    </div>
    <input type="email" class="form-control" placeholder="Enter email" name="email">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i>
      </span>
    </div>
    <input type="password" class="form-control"  placeholder="Enter password" name="password">
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
  </form>
</div>
{% endblock %}
{% block js_files %}
<script src= "{% static 'assets/js/user-login.js' %}"></script>
{% endblock %}