
{% extends 'base.html' %}{% load static %}
{% block title %}Restaurant Menu{% endblock %}
{% block content %}
<h2>{{restaurant.name}}</h2>
<div class="row">
  
    {% for fooditem in fooditems %}
    
        <div class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{% static 'assets/img/restaurant/avatar-5.jpg' %}" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">{{fooditem.name}}</h4>
                  <p class="card-text">{{fooditem.description}}</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                  <a href="javascript:void(0)" class="btn btn-primary add-to-cart" data-id={{fooditem.id}}>Add to Cart</a>
                </div>
              </div>
        </div>
{% endfor %}
</div>
{% endblock %}

{% block js_files %}
<script src= "{% static 'assets/js/restaurant/food.js' %}"></script>
{% endblock %}