{% extends 'login-base.html' %}{% load static %}
{% block title %}User Signup{% endblock %}
{% block content %}
<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
          </div>
          <form class="user" id="user-signup-form">
      
            <div class="form-group">
              <input type="email" name="user-email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">

            </div>
            <div class="err-email alert alert-danger error-msg"></div>

            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" name="user-phone" class="form-control form-control-user" id="exampleFirstName" placeholder="Mobile Number">
                <div class="err-phone alert alert-danger error-msg"></div>

              </div>

              <div class="col-sm-6">
                <input type="text" name="city" class="form-control form-control-user" id="exampleLastName" placeholder="City">
                <div class="err-city alert alert-danger error-msg"></div>

              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" name="state" class="form-control form-control-user" id="exampleFirstName" placeholder="State">
                <div class="err-state alert alert-danger error-msg"></div>

              </div>
              <div class="col-sm-6">
                <input type="text" name="country" class="form-control form-control-user" id="exampleLastName" placeholder="Country">
                <div class="err-country alert alert-danger error-msg"></div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="password" name="user-password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                <div class="err-password alert alert-danger error-msg"></div>
              </div>
              <div class="col-sm-6">
                <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
              </div>
            </div>
            <div class="alert alert-danger error-msg"></div>
            <div class="alert alert-success success-msg"></div>
            <button type="submit" class="btn btn-primary btn-user btn-block">Register Account</button>
            <hr>
            <!-- <a href="index.html" class="btn btn-google btn-user btn-block">
              <i class="fab fa-google fa-fw"></i> Register with Google
            </a>
            <a href="index.html" class="btn btn-facebook btn-user btn-block">
              <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
            </a> -->
          </form>
          <div class="text-center">
            <a class="small" href="forgot-password.html">Forgot Password?</a>
          </div>
          <div class="text-center">
            <a class="small" href="{% url 'login-page' %}">Already have an account? Login!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js_files %}
<script src= "{% static 'assets/js/user-signup.js' %}"></script>
{% endblock %}